<div class="sidebar">
    <div class="sidebar-header">
        <h2>User Portal</h2>
    </div>
    <nav class="sidebar-nav">
        <a  routerLink="dashboard" routerLinkActive="active" class="active"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a  routerLink="courses" routerLinkActive="active"><i class="fas fa-book"></i> Courses</a>
        <a  routerLink="exams" routerLinkActive="active"><i class="fas fa-file-alt"></i> QCMs</a>
        <a  routerLink="history" routerLinkActive="active"><i class="fas fa-history"></i> History</a>
        <a href="index.html" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </nav>
</div>