<div class="card">
    <h2>Your Progress</h2>
    <div class="progress-overview">
        
        
        <div class="progress-item">
            <h3>QCMs Completed</h3>
            <div class="progress-value">
                <span class="value">{{result.completedQcms}}</span>
               
            </div>
           
        </div>
        
        <div class="progress-item">
            <h3>Average Score</h3>
            <div class="progress-value">
                <span class="value">{{result.averageScore}}%</span>
            </div>
            <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="result.averageScore"></div>
            </div>
        </div>
    </div>
</div>


<!-- Recent Results -->
<div class="card">
    <div class="card-header">
        <h2>Recent Results</h2>
        <a href="user-history.html" class="view-all">View all</a>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>QCM</th>
                    <th>Date</th>
                    <th>Score</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let q of result.lastThreeQcms">
                    <td>{{q.qcmHist.title}}</td>
                    <td>{{ q.attemptDate | date:'MMMM d, y' }}</td>
                    <td>{{q.score}}%</td>
                    <td><span *ngIf="q.passed" class="status passed">Passed</span><span *ngIf="!q.passed" class="status not-started">Failed</span></td>
                   
                </tr>
               
            </tbody>
        </table>
    </div>
</div>